$cor__button_blue: #0328EE;
$cor__button_blue__hover: #011ec2;
$cor__button__grey: #1a1f3a;
$cor__button__grey__hover: #0328EE;
$cor__section__explore: #0328EE;


// REVIEWS CORES
$cor__reviews: #0328EE;
$cor__reflexo__foto__card: #000;
$cor__reflexo__card: #fff;
$cor__paragrafo__card: #fff;
$cor__nome__card: #000;
$cor__profissao__card: #fff;
$cor__borda__bolinhas: #fff;
$cor__bolinhas__selecionada: #01b0f8;
$cor__bolinhas__nao__selecionada: #0328EE;

// CARDS
$cor__card: #010D50;